:root{
    --button-size: 100px;
}

*{
    margin: 0;
    padding: 0;
}


body{
    font-family: "Arial";
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(27, 27, 27), black);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator-container{
    width: 500px;
    padding: 20px 20px 20px 20px;
    background-color: black;
    border-radius: 20px;
    border: 5px solid orange;
}


.text-container{
    width: 100%;
}

.output-text{
    text-align: left;
    margin-left: 10px;
    font-size: 50px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, var(--button-size));
    grid-template-rows: repeat(5, var(--button-size));
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    width: 400px;
    border: 1px solid black;
}

button{
    border-radius: 50%;
    height: var(--button-size);
    width: var(--button-size);  
    border: none;
    cursor: pointer;
    font-size: 35px;
    background-color: gray;
    color: white;
}

.zero-button{
    width: calc(2 * var(--button-size) + 15px);
    border-radius: 100px;
}

.empty{
    cursor: default;
    background-color: transparent;
    z-index: -1;
}

button:hover{
    background-color: white;
    color: black;
}

.operator, .equals{
    background-color: orange;
}

.operator:hover, .equals:hover{
    background-color: orangered;
}

.clear-button{
    background-color: lightgrey;
    color: black;
}

